body {
    overflow: hidden;
}

h1 {
    margin: 20px auto;
    text-align: center;
    color: #0072C6;
}

h2 {
    color: #0072C6;
    text-transform: capitalize;
}

a {
    color: black;
}

form {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.raccourci {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: none;
}

.raccourci div {
    width: 40%;
    margin: 10px;
}

.raccourci input {
    margin: 0 !important;
}

.raccourci .action {
    width: 20%;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 95%;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #0072C6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    font-weight: 600;
    font-size: 18px;
}

input[type="submit"]:hover,
.action a:hover {
    background-color: #1E90FF;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.action a {
    text-decoration: none;
    background-color: #0072C6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100px;
    text-align: center;
    margin-top: 5px;
}

.error-message {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffecec;
    border: 1px solid #f5aca6;
    color: #c00;
    padding: 10px;
    margin: 10px 0;
}

.success-message {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 10px;
    margin: 10px 0;
    animation-name: slideout;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes slideout {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(110%);
    }
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #4285F4;
    color: white;
    text-align: center;
    padding: 8px;
}

.text-align-center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.trash a {
    display: block;
    border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: url('assets/trash.svg') no-repeat center;
    margin: auto;
    padding: 5px;
}

.active a {
    display: block;
    border: 1px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: url('assets/pen-solid.svg') no-repeat center;
    margin: auto;
    padding: 5px;
}

.notActive {
    background: rgba(0, 0, 0, 0.5) !important;
    opacity: 0.5;
    pointer-events: none;
}

.pointer {
    pointer-events: visible !important;
}

.logout {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #0072C6;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
}

.logout:hover {
    background-color: #1E90FF;
}

.error-message-link {
    position: absolute;
    top: 60px;
    right: 50%;
    background-color: #ffecec;
    border: 1px solid #f5aca6;
    color: #c00;
    padding: 10px;
    margin: 10px 0;
}